@{
    ViewData["Title"] = "Home Page";
}
@model IndexViewModel  

@foreach (var x in Model.Bowlers)
{
    <p>@x.BowlerFirstName</p>
}

<div page-info="@Model.PageNumberingInfo"
     page-url-teamName="@Model.TeamCategory">

</div>
